{{ 'comment.new.notification1' | trans({'%name%':question.designer}, "messages") }} 

{{ 'comment.new.notification2' | trans }} "{{question.name}}" 

=> <a href="{{app.request.getSchemeAndHttpHost() ~ path('question_show', { 'id': question.id })}}"> 
  {{ 'comment.new.seeonline' | trans }}</a>