<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="QuizBe">
    <meta name="author" content="kpu and Co ?">

    
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=3" />
    <title>{% block title %}QuizBe.org{% endblock %}</title>
    
    <link rel="stylesheet"
          href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
 
    <link rel="stylesheet"
          href="{{ asset('css/quizbe.css') }}">
 
  {% block stylesheets %}{% endblock %}
  
</head>
<body>           

  {% include '::menu.html.twig' %}

  {% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
      <div class="alert alert-{{ type }} {{ type }}" role="alert">
        {{ flashMessage }}
      </div>
    {% endfor %}
  {% endfor %}
<div id="container" class="container">
{% block body %}{% endblock %}

 
</div> <!-- container-->
 {% include '::footer.html.twig' %}



<script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
