{% if menuItemActive is not defined %}
  {%  set menuItemActive = "" %}
{% endif %}  
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('homepage') }}">QuizBe</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li {% if menuItemActive|default('') == "question" %} class="active" {% endif %} >
          <a href="{{ path('question') }}">
             {{ 'menu.question'|trans }}
          </a></li>
        <li {% if menuItemActive == "export" %} class="active" {% endif %} >
          <a href="#">
           {{ 'menu.export'|trans }}
          </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">  
        <li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          {# { 'layout.login'|trans({},'FOSUserBundle') }#}           
                <a href="{{ path('fos_user_security_logout') }}">
                  {{app.user.username}}&nbsp; 
                  <span class="glyphicon glyphicon-log-out"></span>
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
                        
        {% else %}
                <a href="{{ path('fos_user_security_login') }}">
                  <span class="glyphicon glyphicon-log-in"></span>
                  {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                </a>
        </li>
      {% endif %}
         </ul>
    </div><!--/navbar -->
  </div><!--/.container-fluid -->
</nav>

{# https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Resources/doc/overriding_templates.md #}

{#
<div>
  {% block fos_user_content %}
  {% endblock fos_user_content %}
</div>
#}