{% extends '::base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet"
    href="{{ asset('css/star-rating.min.css') }}">
 
{% endblock %}

{% block body %}

    {# {{ form(form) }}  #}

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title" style="text-align: center">
          <span class="pull-left">
            (
            {% if isDesigner %} * {% endif %}            
            {{entity.designer}} ~
            {% if isCoDesigner %} * {% endif %}
            {{entity.codesigners}}
            )
          </span>
          <span>{{ 'question' | trans }} : {{entity.name }} </span>
          <span class="pull-right">{{entity.classroom.name ~ ' ~ ' ~ entity.scope.name}}</span>
        </h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="idsentence">{{'question'|trans}}</label>            
          <div class="col-sm-10">
                        
            <div class="sentence">
              
              {{entity.sentence|raw}}
              
            </div>
          
            </div>
          </div>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{{ 'yourChoice' | trans}}
                {# show : how many choices are expected #} 
                {% set expectedChoices = entity.nbExpectedChoices %}                
                {# a little help for user who knows how many responses are expected #}
                {# but not in all cases (it would be too easy) #}
                {%  if (expectedChoices > 0 and expectedChoices < entity.responses | length) %} 
                  ({{'how.expected' | transchoice(expectedChoices)}})
                {% endif %}
                {# 'watchFeedBack' = temoin de visibilité de la colonne (c'est une astuce, voir hideShowValues() ) #}                
                <span id='watchFeedBack' class="feedBack" style='display: none'></span></th>
              </th>
              <th>Proposition</th>
              <th> <a href="#" onclick="hideShowValues()"> {{'value'|trans}} </a>
                {# 'watchValue' = temoin de visibilité de la colonne (c'est une astuce, voir hideShowValues() ) #}                
                <span id='watchValue' class="itemValue"></span></th>
            </tr>
          </thead>
          <tbody>
            {% for resp in entity.responses %}
              <tr class="response">
                <td> <input id='{{'c' ~ resp.id | e("css")}}' class="userChoice" 
                            type="checkbox" onClick='onUserChoice()' /> 
                  <label id='{{'f' ~ resp.id | e("css")}}' class="feedBack" 
                         style='font-style: italic; display: none'> -- {{ resp.feedback | raw}} </label> 
                </td>
                <td>{{ resp.proposition }}</td>
                <td>
                  <span id='{{'v' ~ resp.id | e("css")}}' class="itemValue">{{ resp.value }}</span>&nbsp;

                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <a href="#" class="btn btn-success" onclick="checkUserChoice()"> === {{ 'user.check' | trans }} === </a>
          {% if isDesigner or isCoDesigner %}
           <a href="{{ path('question_edit', { 'id': entity.id }) }}" class="btn btn-link" >edit</a>
          {% endif %} 
        </div>
        <div class="pull-left">
          <a id='idGoodChoice' href="#" style="display:none"
             class="btn btn-success glyphicon glyphicon-thumbs-up" onclick="showFeedBack()"> {{'good.user.submit.choice' | trans }} </a>
          <a id='idBadChoice' href="#" style="display:none"
             class="btn btn-danger glyphicon glyphicon-thumbs-down" onclick="showFeedBack()"> {{'bad.user.submit.choice' | trans }} </a>
          {#
             <span id='idFeedBack'>
              <label> <input type="checkbox" onChange="showFeedBack()"  /> {{'show.feedback' | trans }}</label> 
             </span>
          #}
             <a id='idFeedBack' href="#" style="display:none"
          class=" btn glyphicon glyphicon-question-sign" onclick="showFeedBack()"> {{'show.feedback' | trans }} </a>
         
        </div>        
      </div>
      <div class="row">      
        <div class="col-sm-6">          
        {% if isDesigner or isCoDesigner %}          
          <input id='idRating' data-size="xs" 
                 data-default-caption="{{'form.question.avgrating' | trans }}" 
                 data-star-captions="{}" 
                 data-clear-caption="{{'form.question.avgrating' | trans }}" 
                 data-clear-button='' value="{{rating}}"/> 
        {% else %}
           <input id='idRating' 
                  data-default-caption="{{'form.question.qupdaterating' | trans }}" 
                  data-star-captions="{}"  
                  data-clear-caption="{{'form.question.qcreaterating' | trans }}" 
                  data-show-caption='true'
                  data-step= '.5'
                  data-size="sm" value="{{rating}}" />
        {%endif%}
      </div>
      <div class="col-sm-6" style="margin-top: 1em">
        <spam class="pull-right" style="font-size: medium">
          
          {% if first != false %}
            <a href="{{ path('question_show', { 'id': first }) }}">|&lt;</a>&nbsp;
          {% else %}
            |&lt;
          {% endif %}
          {% if prev != false %}
            <a href="{{ path('question_show', { 'id': prev }) }}">&lt;</a>&nbsp;
          {% else %}
            &lt;
          {% endif %}
          {% if next != false %}
            <a href="{{ path('question_show', { 'id': next }) }}">&gt;</a>&nbsp;
          {% else %}
            &gt;
          {% endif %}
          {% if last != false %}
            <a href="{{ path('question_show', { 'id': last }) }}">&gt;|</a>&nbsp;
          {% else %}
            &gt;|
          {% endif %}
         </spam>
      </div>
      </div>
      
      {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': entity.id} %}
         
      
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {# après avoir inclus jquery... #} 
  
  {{ tinymce_init({'mode' : "textareas", 'theme': {'simple': {'menubar': false}}}) }}
  
  
  <script type="text/javascript" src="{{asset('js/star-rating.min.js')}}"></script>
  <script type="text/javascript" src="{{asset('js/notify.min.js')}}"></script>

  <script>
    function checkUserChoice() {
      var res = 0.0;
      var elts = document.getElementsByClassName("userChoice");
      var i;
      for (i = 0; i < elts.length; i++) {
        if (elts[i].checked == true) {
          idValue = "v" + elts[i].id.substring(1);
          res = res + parseFloat(document.getElementById(idValue).innerHTML);
        }
      }
      $('#idFeedBack').hide();
      if (res == {{entity.expectedChoices}}) {
        $('#idBadChoice').hide();
        $('#idGoodChoice').show();
      } else {
        $('#idBadChoice').show();
        $('#idGoodChoice').hide();
      }
      $('#idFeedBack').show();
      //alert(res);      
    }

    function hideShowValues() {
      if ($('#watchValue').is(":visible") == true) {
        $('.itemValue').hide();
      } else {
        $('.itemValue').show();
      }
    }

    function showFeedBack() {
      if ($('#watchFeedBack').is(":visible") == true) {
        $('.feedBack').hide();
      } else {
        $('.feedBack').show();
      }
    }

    function hideResultCheckChoice() {
      $('#idBadChoice').hide();
      $('#idGoodChoice').hide();
    }

    function onUserChoice() {
      hideResultCheckChoice();
    }

 {% if not isDesigner and not isCoDesigner %} 
    function doChangeRating(value) {
      $.ajax({
        type: "POST",
        url: "{{ path('question_rating', {'id': entity.id})}}",
        data: "value=" + value,
        dataType: 'Json',
        error: function (msg) {
          // session perdue ?
          window.location.href = "{{ path('question_show', { 'id': entity.id })}}"
        },
        success: function (data) {
          // console.log(data);
          if (data.ok == 1)
            $(".panel-footer").notify("{{'dorating.create'|trans}}", {position: "buttom center"});
          else if (data.ok == 2)
            $(".panel-footer").notify("{{'dorating.update'|trans}}", {position: "buttom center"});
          else if (data.ok == 3)
            $(".panel-footer").notify("{{'dorating.delete'|trans}}", {position: "buttom center"});
          else 
            ; // nothing to do
          // $(".panel-footer").notify("Opération impossible", { position:"top center"});
        }
      });
    }
   {% endif %}
  
  jQuery(document).ready(function () {
      hideShowValues();
      hideResultCheckChoice();
    {# https://github.com/kartik-v/bootstrap-star-rating and http://plugins.krajee.com/star-rating #}
    {# init rating #}
    {% if isDesigner or isCoDesigner %} 
        $("#idRating").rating({'size': 'xs', 'showCaption': true,
           'readonly': true, 
           'disable': true,
           'defaultCaption':"{rating} {{'avgrating'| trans}}",
           'step': .5              
         });  
    {% else %}  
        $("#idRating").rating({'size': 'sm', 'showCaption': false });
      
        $('#idRating').on('rating.change', function (event, value, caption) {
          doChangeRating(value);
          //console.log(caption);
        });
        $('#idRating').on('rating.clear', function (event) {
          console.log("rating.clear");
          doChangeRating(0);
        });
    {% endif %}        
      });

  </script>
{% endblock javascripts %}
